doctype html
head
  meta(charset="utf-8")
  link(rel="stylesheet", href="styl.css", media="screen", charset="utf-8")
  script(type="text/javascript", src="//code.jquery.com/jquery-1.12.0.min.js")
  script(type="text/javascript", src="script.js")
  title Basic English words
body
  .container
  .info press 'space'
  .app iphone app is coming soon
  .type
  a.created(href="https://dribbble.com/Volorf") created by volorf
  .transcription
  .word
  .translation
  script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-576cff89f7402087")
  style.
    #at4-share {
        -webkit-filter: grayscale(1) contrast(150%) !important
    }
    
  
