doctype html
head
  meta(charset="utf-8")
  link(rel="stylesheet", href="styl.css", media="screen", charset="utf-8")
  script(type="text/javascript", src="//code.jquery.com/jquery-1.12.0.min.js")
  script(type="text/javascript", src="script.js")
  title Basic English words
body
  .container
  .info press 'space'
  .app iphone app is coming soon
  .type
  a.created(href="https://volorf.dribbble.com") created by volorf
  .transcription
  .word
  .translation
  
