@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  background: #22262f;
  width: 100vw;
  height: 100vh;
  font-family: "SF UI Display", "Arial", sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 3.5vh;
  overflow: hidden;
}
body a {
  color: #fff;
  text-decoration: none;
}
body a:hover {
  opacity: 1 !important;
  transition: opacity 0.5s 0s !important;
}
body .container {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: absolute;
  z-index: 100;
}
body .type {
  font-size: 14px;
  opacity: 0;
  transform: scale(0.95);
  transition: all 2s 1s;
  position: absolute;
  left: 24px;
  top: 24px;
  font-weight: 200;
}
body .created {
  font-size: 14px;
  opacity: 0;
  transform: scale(0.95);
  transition: all 2s 1s;
  position: absolute;
  right: 24px;
  top: 100%;
  margin-top: -36px;
  font-weight: 200;
  z-index: 101;
}
body .word {
  font-size: 160px;
  line-height: 30vh;
  opacity: 0;
  transform: scale(0.95);
  transition: all 2s;
}
body .translation,
body .transcription {
  line-height: 30vh;
  font-size: 24px;
  opacity: 0;
  font-weight: 200;
}
body .translation {
  opacity: 0;
  transform: scale(0.95);
  transition: all 2s 0.5s;
}
body .transcription {
  opacity: 0;
  transform: scale(0.95);
  transition: all 2s 0.3s;
}
